/* Genel stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #2c3e50;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

/* Container */
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Formlar */
form {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

.form-group {
    margin-bottom: 0px !important;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Liste */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

li br {
    margin-bottom: 5px;
}

/* Başlıklar */
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Button container */
button, .container {
    margin-bottom: 20px;
}

/* Alerts */
.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;
}
